
<%= render partial: 'shared/flashes' %>
<div class="jumbotron">
  <div class="container">
    <h1>Welcome, Sweety!</h1>
    <p>Sweety is a application for recording blood glucose levels for diabetics.</p>
    <p>Record up to four readings a day.</p>
    <p>View daily, monthly, and month-to-date reports on your levels.</p>
  </div>
</div>

<div class="container">
  <div class="row action-links">
    <div class="col-md-6">
      <h2><%= link_to 'Record a reading', new_reading_path %></h2>
    </div>
    <div class="col-md-6">
      <h2><%= link_to 'View a report', new_report_path %></h2>
    </div>
  </div>
